PHP/PHP72/config/
PHP/PHP72/html/
PHP/PHP72/htmlSIIS/

PHP/PHP54/config/
PHP/PHP54/htmlSIIS

PHP/LARAVEL_MYSQL/database
PHP/LARAVEL_MYSQL/example-prod

PHP/LARAVEL_LUMEN_POSTGRESQL/apiRestful
PHP/LARAVEL_LUMEN_POSTGRESQL/config
PHP/LARAVEL_LUMEN_POSTGRESQL/postgres-data

PHP/LARAVEL_PASSPORT_POSTGRESQL/apiRestful
PHP/LARAVEL_PASSPORT_POSTGRESQL/config
PHP/LARAVEL_PASSPORT_POSTGRESQL/postgres-data

listas_iptv/

PHP/LARAVEL_PASSPORT_POSTGRESQL/apiRestful
PHP/PHP72/htmlSIIS/FCICNRestAPI

PYTHON/FlaskPostgreSqlVanillaJS_CRUD