PHP72/config/
PHP72/html/
PHP72/htmlSIIS/

PHP54/config/
PHP54/html/
PHP54/htmlSIIS/

LARAVEL_MYSQL/database
LARAVEL_MYSQL/example-prod

LARAVEL_LUMEN_POSTGRESQL/apiRestful
LARAVEL_LUMEN_POSTGRESQL/config
LARAVEL_LUMEN_POSTGRESQL/postgres-data

LARAVEL_PASSPORT_POSTGRESQL/apiRestful
LARAVEL_PASSPORT_POSTGRESQL/config
LARAVEL_PASSPORT_POSTGRESQL/postgres-data

listas_iptv/
